<h3><%=_('New Post')%></h3>
<%= Controller::Main.render_partial '_markdown_injector' %>
<textarea name="text" rows="5" id="textarea-post-new"><%=session[:saved_text]['textarea-post-new']%></textarea>
<div id="urls-already-posted-message">
  <%=_('The URL you are writing about has already been posted.')%>
  <%=_('Please consider commenting on %s instead of sharing the URL again.' % "<a id='earlier-post'>#{_('the existing post')}</a>")%>
</div>
<div id="settings">
  <%=_('Visibility')%>: <select name="visibility">
    <option value="internet"><%=s_('visibility|Internet')%></option>
    <option value="forest" selected><%=s_('visibility|Forest')%></option>
    <option value="tree"><%=s_('visibility|Tree')%></option>
  </select>
  <% if @springs.any? %>
    <div id="springs">
      <%=_('Publish to these springs:')%>
      <ul>
      <% @springs.each do |spring| %>
        <li><input name="spring_ids[]" type="checkbox" value="<%=spring.id %>"><%= spring.name %></input></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="form-buttons">
  <input type="submit" value="<%=s_('new-post|Post')%>" tabindex="1"/>
  <input class="preview" type="button" value="<%=_('Preview') %>" tabindex="2" data-type="post" data-preview-heading="<%= _('Preview') %>" data-preview-close-label="<%= s_('preview|close') %>" />
</div>
