<div class="post-tools iconic">

<% if logged_in? %>
  <span class="admin">
    <% if @post.member.id == account.member.id %>
      <a href="/posts/edit/<%=@post.id%>" title="<%=_('edit')%>" class="edit"><%= img 'icon-post-tools-edit.png', {alt:_('edit'), class:'size-16'}%></a>
      <a href="/posts/destroy/<%=@post.id%>" title="<%=_('delete')%>" data-msg="<%=_('Delete this post?')%>" class="delete"><%= img 'icon-post-tools-delete.png', {alt:_('delete'), class:'size-16'}%></a>
    <% else %>
      <a class="hide" href="#" title="<%=_('Hiding a post prevents it from showing in your rivers or triggering notifications.')%>"><%= img 'icon-post-tools-hide.png', {alt:_('hide'), class:'size-16'}%></a>
      <a class="confirm-hide" href="#" title="<%=_('Click to confirm hiding of this post.')%>"><%=_('confirm')%></a>
    <% end %>
  </span>

  <span class="mutation">
    <% if @post.like_by(account.member) %>
      <a href="#" title="<%=_('unlike')%>" class="unlike" data-post-like-id="<%=@post.like_by(account.member).id%>"><%= img 'icon-unlike.png', {alt:_('unlike'), class:'size-16'}%></a>
      <a href="#" title="<%=_('like')%>" class="like hidden"><%= img 'icon-like.png', {alt:_('like'), class:'size-16'}%></a>
    <% else %>
      <a href="#" title="<%=_('like')%>" class="like"><%= img 'icon-like.png', {alt:_('like'), class:'size-16'}%></a>
      <a href="#" title="<%=_('unlike')%>" class="unlike hidden"><%= img 'icon-unlike.png', {alt:_('unlike'), class:'size-16'}%></a>
    <% end %>

    <% if @post.collected_by?(account) %>
      <% if @pool && @pool.member.id == account.member.id %>
      <a class="remove" data-pool-id="<%=@pool.id%>" href="#" title="<%=_('Remove this post from this pool')%>"><%= img 'icon-collected.png', {alt:_('remove'), class:'size-16'}%></a>
      <% else %>
      <a class="collect collected" href="#" title="<%=_('Collect this post in a pool')%>"><%= img 'icon-collected.png', {alt:_('collected'), class:'size-16'}%></a>
      <a class="collect hidden" href="#" title="<%=_('Collect this post in a pool')%>"<%= img 'icon-collect.png', {alt:_('collect'), class:'size-16'}%></a>
      <% end %>
    <% else %>
      <a class="collect" href="#" title="<%=_('Collect this post in a pool')%>"><%= img 'icon-collect.png', {alt:_('collect'), class:'size-16'}%></a>
      <a class="collect collected hidden" href="#" title="<%=_('Collect this post in a pool')%>"><%= img 'icon-collected.png', {alt:_('collected'), class:'size-16'}%></a>
    <% end %>

    <% if ! account.subscribed_to?(@post) %>
      <a href="#" class="subscribe" title="<%=_('Start receiving notifications about comments on this post')%>"><%= img 'icon-subscribe.png', {alt:_('subscribe'), class: "size-16"}%></a>
      <a href="#" class="unsubscribe hidden" title="<%=_('Stop receiving notifications about comments on this post')%>"><%= img 'icon-unsubscribe.png', {alt:_('unsubscribe'), class: "size-16"}%></a>
    <% else %>
      <a href="#" class="subscribe hidden" title="<%=_('Start receiving notifications about comments on this post')%>"><%= img 'icon-subscribe.png', {alt:_('subscribe'), class: "size-16"}%></a>
      <a href="#" class="unsubscribe" title="<%=_('Stop receiving notifications about comments on this post')%>"><%= img 'icon-unsubscribe.png', {alt:_('unsubscribe'), class: "size-16"}%></a>
    <% end %>

    <% if @post.read_by?(account) %>
      <a class="mark-unread" title="<%=_('mark unread')%>" href="#"><%= img 'icon-read.png', {alt:_('mark unread'), class:'size-16'}%></a>
      <a class="mark-read hidden" title="<%=_('mark read')%>" href="#"><%= img 'icon-unread.png', {alt:_('mark read'), class:'size-16'}%></a>
    <% else %>
      <a class="mark-unread hidden" title="<%=_('mark unread')%>" href="#"><%= img 'icon-read.png', {alt:_('mark unread'), class:'size-16'}%></a>
      <a class="mark-read" title="<%=_('mark read')%>" href="#"><%= img 'icon-unread.png', {alt:_('mark read'), class:'size-16'}%></a>
    <% end %>
  </span>
<% end %>

    <% if @excerpt_links %>
      <span class="excerpt_links">
        <a href="#" title="<%=_('comment')%>" class="comment"><%= img 'icon-comment.png', {alt:_('comment'), class: 'size-16'}%></a>
        <a href="/posts/show/<%=@post.id%>" title="<%=_('Middle click, Shift-click, or Ctrl-Shift-click to open in new tab/window')%>"><%= img 'icon-view-post.png', {alt:_('view post'), class: 'size-16'}%></a>
      </span>
    <% end %>
</div>
