<div class="post has-shadow" data-post-id="<%=@post.id%>">
    <div class="post-pane">
      <div class="post-proper">
        <div class="meta">
          <div class="member">
            <%=member_avatar_link(@post.member)%>
            <div class="member-text">
              <div class="member-name"><%=member_name_link(@post.member)%></div>

              <% if logged_in? && account.settings.icons %>
                <div class="post-stats text">
                  <span class="age"><%=ago(@post.time_created)%>
                  <% if @post.time_created != @post.time_updated %>
                    <span class="age-update">(updated <%=ago(@post.time_updated)%>)</span>
                  <% end %></span>
                  <br/>
                  <span><%=_('Visibility: %s') % @post.visibility%></span>
                  <span class="num-likes" title="<%=@post.likes.empty? ? '' : _('Liked by %s') % like_list(@post.likes)%>">
                    <%=_('Likes: %s') % "<span class='value'>#{@post.likes.count}</span>" %>
                  </span>
                </div>
              <% else %>
                <div class="age"><%=ago(@post.time_created)%></div>
                <% if @post.time_created != @post.time_updated %>
                  <span class="age-update">(updated <%=ago(@post.time_updated)%>)</span>
                <% end %>
              <% end %>
            </div>
          </div>

          <% if logged_in? %>
            <% if account.settings.icons %>
              <%= render_partial '_post_tools', post: @post, excerpt_links: false %>
            <% else %>
              <%= render_partial '_post_tools_text', post: @post, excerpt_links: false %>
            <% end %>
          <% end %>
        </div>

        <div class="post-extras">
          <% if ! logged_in? || ! account.settings.icons %>
            <span class="num-likes <%=@post.likes.empty? ? 'hidden' : '' %>" title="<%= like_list(@post.likes) %>"><%= img 'icon-like.png', {class:"size-16", alt:_('likes')} %> <span class="value"><%= @post.likes.count %></span></span>
          <% end %>
          <% if logged_in? && ! account.settings.icons %>
            <a class="visibility" href="#" rel="popover" title="<%=_('Visibility') %>" data-content="<%= visibility_description(@post) %>"><%= img 'icon-eye.png', {class:"size-16", alt: visibility_description(@post)} %></a>
          <% end %>
        </div>

        <div class="post-text typed-text">
          <%=@post.text_rendered(account)%>
          <% if @post.via %>
            <div class="via">
              <%=_('posted with: %s') % @post.via%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="comments-pane">
      <%= Controller::Comments.render_partial "_comments_list", post: @post, comment_fetch_options: @comment_fetch_options, hidden: false %>
    </div>
</div>
