<h2><%=_('Member API')%></h2>

<% if account.api_token %>
  <p><%= _('Current API token:') %> <%= account.api_token %></p>
  <ul>
    <li><a href="/accounts/generate_api_token"><%=_('Generate a new API token')%></a></li>
    <li><a href="/accounts/clear_api_token"><%=_('Clear API token')%></a></li>
  </ul>
<% else %>
  <p>
    <a href="/accounts/generate_api_token"><%=_('Generate API token')%></a>
  </p>
<% end %>

<h3><%=_('API documentation')%></h3>

<%=Libertree::render(_('api-endpoint-documentation') % @host)%>

