<div class="pools modal" data-post-id="<%=@post.id%>">
  <form action='/pools/update_post_collection_status' method='POST'>
    <input type="hidden" name="post_id" value="<%= @post.id %>"/>

    <% if @pools.empty?  %>
      <p>
        <%=s_('pool-selector|Collect this post in a new pool named...') %>
      </p>
      <input type="text" name="pool_name" />
    <% else  %>
      <p>
        <%=s_('pool-selector|Collect in...')%>
      </p>

      <ul>
        <% @pools.each do |p| %>
          <li>
            <label>
              <input type="checkbox" name="pool_ids[]" value="<%= p.id %>" <%=p.includes?(@post) ? 'checked' : ''%> />
              <%= p.name %>
            </label>
          </li>
        <% end %>
      </ul>
    <% end %>
    <input class="submit" type="submit" value="<%=_('Save')%>"/>
  </form>
</div>
