<div class="header">
  <span class="title"><%=_('Notifications')%></span>
  <span class="n hidden"><%=@n%></span>

  <div class="tools">
    <% if @n > 0 %>
    <a id="mark-all-notifications-seen" href="/notifications/seen/all"><%=_('mark all seen')%></a>
    <% end %>
    <a href="/notifications"><%=_('view all')%></a>
  </div>
</div>

<% if @n == 0 %>
  <%=_('You have no new notifications.')%>
<% else %><%= render_partial '_notifications', sets: @sets, set_keys: @set_keys %><% if @n_more > 0 %><div id="notifications-more"><a href="/notifications"><%=_('%d more') % @n_more%></a></div><% end %>
<% end %>
