<div class="menu has-shadow"><div id="menu-narrower">
  <a href="/home" id="home">
    <%= img 'small-logo.png', {alt: 'logo', id: 'logo'} %>
    <%= img 'wordmark.png',   {alt: 'Libertree', id: 'wordmark'} %>
  </a>

  <% if ! logged_in? %>
    <a class="menu-item" id="menu-log-in" href="/login"><%=img 'icon-login.png', {alt:s_('menu|Log in')}%> <%=s_('menu|Log in')%></a>
  <% else %>
    <a class="menu-item" id="menu-account" href="#">
      <span id="account-name"><%=account.member.name_display%></span>
      <%= member_img(account.member) %>
    </a>
    <div id="account-window" class="window has-shadow">
      <a href="/p/<%= account.member.username %>"><%= img 'icon-account.png', {alt:s_('menu|Profile')}%> <%=s_('menu|Profile')%></a><br/>
      <a href="/accounts/edit"><%=img 'icon-settings.png', {alt:s_('menu|Settings')}%> <%= s_('menu|Settings')%></a><br/>
      <a href="/contact-lists"><%=img 'icon-group.png', {alt:s_('menu|Contact Lists')}%> <%= s_('menu|Contact Lists')%></a><br/>
      Text:
      <% if account.font_css == 'fonts-small' %>
        <a href="/accounts/font" title="<%=s_('menu|Legible font size')%>"><%= s_('menu|legible') %></a> | <%= s_('menu|small')%>
      <% else %>
        <%= s_('menu|legible') %> | <a href="/accounts/font/small" title="<%= s_('menu|Small font size') %>"><%= s_('menu|small')%></a>
      <% end %>
      <br/>
      <% if account.admin? %>
        <a href="/admin"><%=img 'icon-admin.png', {alt:s_('menu|Administrate')}%> <%= s_('menu|Administrate')%></a><br/>
      <% end %>
      <a href="/logout"><%=img 'icon-logout.png', {alt:s_('menu|Log out')}%> <%= s_('menu|Log out')%></a>
    </div>

    <div id="main-menu-container" class="<%=account.settings.custom_link ? 'with-custom' : ''%>">
      <form action="/search" method="POST" class="search">
        <input id="search" type="text" name="q"/>
      </form>
      <a href="#" class="menu-item" id="toggle-sidebar" title="<%=s_('menu|Toggle sidebar')%>"><%= img 'icon-sidebar.png', {alt:s_('menu|Toggle sidebar')}%></a>
      <a href="/posts/new" class="menu-item" id="menu-post-new" title="<%=s_('menu|New Post')%>"><%= img 'icon-edit.png', {alt:s_('menu|New Post')}%></a>
      <a href="/messages" class="menu-item" id="menu-messages" title="<%=_('Direct Messages')%>"><%= img 'icon-message.png', {alt:_('Direct Messages')}%></a>
      <%= render_file 'layout/_chat.erb' %>
      <%= render_file 'layout/_notifications.erb' %>
      <a
        href="/home"
        class="menu-item"
        id="menu-home"
        title="<%=(request.fullpath !~ /home/) ? s_('menu|Go Home') : s_('menu|You are at Home')%>"><%= img 'icon-home.png', {alt:s_('menu|Home')}%></a>
      <% if account.settings.custom_link %>
        <a href="<%=account.settings.custom_link%>" class="menu-item"><%= img 'icon-custom-link.png', {alt:"custom"}%></a>
      <% end %>
    </div>
  <% end %>
</div></div>
