<ul class="navigation">
  <% unless @done %>
  <li>
    <a href="/intro#step-<%= @next %>" data-target="<%= @next %>" class="button skip">
      <%=s_('tutorial|Skip')%>
    </a>
  </li>
  <% end %>

  <% if @prev %>
  <li>
    <a href="/intro#step-<%= @prev %>" data-prev="<%= @prev %>" class="button prev">
      &lt;&lt; <%=s_('tutorial|Back')%>
    </a>
  </li>
  <% end %>

  <% if @next %>
  <li>
    <a href="/intro#step-<%= @next %>" data-next="<%= @next %>" class="button next default">
      <%=s_('tutorial|Next')%> &gt;&gt;
    </a>
  </li>
  <% else %>
  <li>
    <a href="/home" class="button next default">
      <%=s_('tutorial|Done!')%>
    </a>
  </li>
  <% end %>
</ul>
