<% if @task %>
<h2><%= _('Unfinished Jobs: %s') % @task %></h2>
<p>
  <a href="/admin/jobs"><%= s_('jobs|Show all') %></a>
</p>
<p>
  <a href="/admin/jobs/retry_all/<%= @task %>"><%= s_('jobs|Retry all displayed jobs') %></a>
</p>
<% else %>
<h2><%= _('Unfinished Jobs') %></h2>
<p>
  <a href="/admin/jobs/retry_all"><%= s_('jobs|Retry all unfinished jobs') %></a>
</p>
<% end %>


<div class="jobs">

  <% @unfinished.each do |job| %>
    <table class="job" data-job-id="<%= job.id %>">
      <tr>
        <th><%= s_('jobs|ID') %></th>
        <td><%= job.id %></td>
      </tr>

      <tr>
        <th><%= s_('jobs|Task') %></th>
        <td>
          <a href="/admin/jobs/<%= job.task %>">
            <%= job.task %>
          </a>
        </td>
      </tr>

      <tr>
        <th><%= s_('jobs|Params') %></th>
        <td><%= job_param_format(job.params) %></td>
      </tr>

      <tr>
        <th><%= s_('jobs|Time created') %></th>
        <td><%= timefmt(job.time_created) %></td>
      </tr>

      <tr>
        <th><%= s_('jobs|Time started') %></th>
        <td><%= timefmt(job.time_started) %></td>
      </tr>

      <tr>
        <th><%= s_('jobs|Tries') %></th>
        <td><%= job.tries %></td>
      </tr>

      <tr>
        <th><%= s_('jobs|Retry reason') %></th>
        <td><%= job.retry_reason %></td>
      </tr>

      <tr>
        <th><%= s_('jobs|Actions') %></th>
        <td>
          <a href="/admin/jobs/retry/<%= job.id %>">
            <%= s_('jobs|Retry') %>
          </a>
          |
          <a class="delete" data-msg="<%= _('Delete this job?') %>" href="/admin/jobs/destroy/<%= job.id %>">
            <%= s_('jobs|Delete') %>
          </a>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<p>
  <a href="/admin"><%= s_('jobs|Back to forest administration') %></a>
</p>
