<div id="header">
  <h2>
  <% if ! logged_in? || @pool.member != account.member %>
    <%=_('Spring: %s') % @pool.name%>
  <% else %>
    <%=_('Pool: %s') % @pool.name%>
  <% end %>
  </h2>

  <% if logged_in? && @pool.member != account.member %>
    <div class="spinner-container">
      <select id="river-selector" name="river_id" data-pool-id="<%= @pool.id %>" data-placeholder="<%= _('Add this spring to a river') %>" data-msg="<%= _('Added to river.') %>">
        <option></option>
        <% account.rivers.sort_by { |r| r.label.gsub(/^#/,'').downcase }.each do |r| %>
          <option value="<%=r.id %>"><%= r.label %></option>
        <% end %>
      </select>
    </div>
  <% end %>

</div>
<div id="post-excerpts" class="autoload-container" data-loader-type="pool"
     data-loader-args="<%= @pool.id %>" data-pool-id="<%= @pool.id %>">
  <% @posts.each do |post| %>
    <%= Controller::Posts.render_partial '_excerpt', post: post, pool: @pool %>
  <% end %>
  <div class="spinner"></div>
</div>
