<h2><%=_('Account Settings')%></h2>

<form action="update" method="POST">
  <div class="field">
    <label><%=_('Language:')%></label>
    <select name="locale">
      <% Libertree::LANG.each do |locale,name| %>
        <option value="<%= locale %>" <%= account.locale.eql?(locale) ? "selected" : "" %>><%= name %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <label>
      <%=_('Email:')%>
      <%=help_bubble _('Your email address is only used for password recovery. It is never made public and never shared.'), _('Use of Email Address')%>
    </label>
    <input type="text" name="email" size="30" value="<%=account.email%>"/>
  </div>

  <div class="field">
    <label><%=_('Forward direct messages via email:')%></label>
    <input type="checkbox" name="forward_dms_via_email" <%=account.settings.forward_dms_via_email ? "checked" : ""%> />
  </div>

  <div class="field">
    <label><%=_('Public key:')%></label>
    <textarea name="pubkey" class="custom" rows="5"><%=account.pubkey%></textarea>
  </div>


  <h3><%=_('User Interface Customisation')%></h3>
  <div class="field">
    <label><%=_('Theme:')%></label>
    <select name="theme">
      <% $conf['themes'].each do |theme| %>
        <option value="<%= theme %>" <%= account.settings.theme.eql?(theme) ? "selected" : "" %>><%= theme %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <label><%=_('Post excerpt maximum height:')%></label>
    <input type="text" name="excerpt_max_height" size="5" value="<%= account.settings.excerpt_max_height %>"/><%= _('pixels')%>
  </div>

  <div class="field">
    <label><%=_('Automatic embedding:')%></label>
    <input type="checkbox" name="autoembed" <%=account.settings.autoembed ? "checked" : ""%> />
  </div>

  <div class="field">
    <label><%=_('Display post tools as:')%></label>
    <input type="radio" name="post_tools_icons" value="text" <%=account.settings.icons ? "" : "checked"%> />text
    <input type="radio" name="post_tools_icons" value="icons" <%=account.settings.icons ? "checked" : ""%> />icons
  </div>

  <div class="field">
    <label><%=_('Make thumbnails for images in post excerpts:')%></label>
    <input type="checkbox" name="thumbnail" <%=account.settings.thumbnail ? "checked" : ""%> />
  </div>

  <div class="field">
    <label><%=_('Filter images:')%></label>
    <input type="checkbox" name="filter_images" <%=account.settings.filter_images ? "checked" : ""%> />
  </div>

  <div class="field">
    <label><%=_('Hide markdown bar:')%></label>
    <input type="checkbox" name="hide_markdown_bar" <%=account.settings.hide_markdown_bar ? "checked" : ""%> />
  </div>

  <div class="field">
    <label><%=_('Enable posting from river view:')%></label>
    <input type="checkbox" name="new_post_in_river" <%=account.settings.new_post_in_river ? "checked" : ""%> />
  </div>

  <div class="field">
    <label><%=_('Resize text boxes as you type:')%></label>
    <input type="checkbox" name="auto_resize_textareas" <%=account.settings.auto_resize_textareas ? "checked" : ""%> />
  </div>


  <h3><%=_('Advanced Settings')%></h3>
  <div class="field">
    <label><%=_('Custom menu link:')%></label>
    <input type="text" name="custom_link" value="<%=account.settings.custom_link%>" size="60"/>
  </div>

  <div class="field">
    <label><%=_('Custom CSS:')%></label>
    <textarea name="custom_css" class="custom" rows="5"><%=account.settings.custom_css%></textarea>
  </div>

  <div class="field">
    <label><%=_('Custom JS:')%></label>
    <textarea name="custom_js" class="custom" rows="5"><%=account.settings.custom_js%></textarea>
  </div>

  <input type="submit" value="<%=_('Save')%>"/>
</form>


<h4><%=_('Data Export')%></h4>

<p>
<%=_('Download your account settings, profile, posts, comments and direct messages:')%>
</p>

<a href="/accounts/data/<%= @export_filename %>"><%= @export_filename %></a>

<h4><%=s_('settings|Other actions')%></h4>
<ul class="actions">
  <li><a href="/profiles/edit"><%=_('Edit profile')%></a></li>
  <li><a href="/accounts/api"><%=_('Member API')%></a></li>
  <li><a href="/rivers"><%=_('Manage rivers')%></a></li>
  <li><a href="/pools"><%=_('Manage pools and springs')%></a></li>
  <li><a href="/remotestorage/connection"><%=_('Manage remote storage')%></a></li>
  <li><a href="/invitations"><%=_('Invite Others')%></a></li>
  <li><a href="/accounts/change_password"><%=_('Change password')%></a></li>
  <li><a href="/accounts/delete"><%=_('Delete your account')%></a></li>
</ul>
