<div id="header">
<h2><%=_('Search Results for "%s"') % ::CGI.escape_html(@q)%></h2>

<form action="/search" method="POST" class="big-search">
  <input type="text" name="q" value="<%=::CGI.escape_html(@q)%>"/>
</form>

<% if (@profiles.count + @posts.count + @comments.count) == 0 %>
  <p><%=s_('search-results|Nothing found.')%></p>
<% else %>
  <ul class='result-links'>
    <% if @profiles.count > 0 %>
      <li>
        <a href="#search-results-profiles"><%=s_('search-results|Profiles')%></a>
      </li>
    <% end %>
    <% if @posts.count > 0 %>
      <li>
        <a href="#search-results-posts"><%=s_('search-results|Posts')%></a>
      </li>
    <% end %>
    <% if @comments.count > 0 %>
      <li>
        <a href="#search-results-comments"><%=s_('search-results|Comments')%></a>
      </li>
    <% end %>
  </ul>
<% end %>
</div>

<% if @profiles.count > 0 %>
<div id="search-results-profiles" class="panel">
  <h3><%=s_('search-results|Profiles')%></h3>

  <ul>
  <% @profiles.each do |p| %>
    <li class="profile"><%= member_avatar_link(p.member) %> <%= member_name_link(p.member) %></li>
  <% end %>
  </ul>
</div>
<% end %>

<% if @posts.count > 0 %>
<div id="search-results-posts" class="panel">
  <h3><%=s_('search-results|Posts')%></h3>

  <ul>
  <% @posts.each do |p| %>
    <li class="search-result post">
      <a href="/posts/show/<%=p.id%>">
        <span class="member">
          <%= member_img(p.member) %> <span class="member-name"><%= p.member.name_display %></span>
          <span class="age"><%=ago(p.time_created)%></span>
        </span>
        <span class="glimpse"><%=highlight_query(Libertree::plain(p.glimpse(160)), @q)%></span>
      </a>
    </li>
  <% end %>
  </ul>
</div>
<% end %>

<% if @comments.count > 0 %>
<div id="search-results-comments" class="panel">
  <h3><%=s_('search-results|Comments')%></h3>

  <ul>
  <% @comments.each do |c| %>
    <li class="search-result comment">
      <a href="<%= comment_link(c) %>">
        <span class="member">
          <%= member_img(c.member) %> <span class="member-name"><%= c.member.name_display %></span>
          <span class="age"><%=ago(c.time_created)%></span>
        </span>
        <span class="glimpse"><%=highlight_query(Libertree::plain(c.glimpse(160)), @q)%></span>
      </a>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
